<div>
  <div class="jumbotron text-center">
    <h1 class="display-4">{{ article.user }}</h1>
    {% with followers=person.followers.all followings=person.followings.all %}
    <p class="lead">
      팔로잉: {{ followings.all|length }} / 팔로워 : {{ followers.all|length }}
    </p>
    <hr class="my-4">
    {% if user != article.user %}
      {% if user in followers.all %}
        <a class="btn btn-primary btn-lg" href="{% url 'articles:follow' article.pk person.pk %}" role="button">Unfollow</a>
      {% else %}
        <a class="btn btn-primary btn-lg" href="{% url 'articles:follow' article.pk person.pk %}" role="button">Follow</a>
      {% endif %}
    {% endif %}
    {% endwith %}
  </div>
</div>