<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <h1>My Todo List</h1>
    <my-todo-list category="하고싶은 일"></my-todo-list>
    <my-todo-list category="해야하는 일"></my-todo-list>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    Vue.component("my-todo-list", {
      template: `
      <div id="todo">
        <h1>{{ category }}</h1>
        <input @keyup.enter="addTodo" v-model="newTodo" type="text">
        <button @click="addTodo">+</button>
        <ul v-for="todo in todos" v-bind:key="todo.id">
          <li @click="check">{{ todo.content }} {{ todo.todayDate }}</li>
          <button @click="removeTodo(todo.id)">x</button>
        </ul>
      </div>`,
      props: {
        category: {
          type: String,
          required: true,
        }
      },
      data: function () {
        return {
          todos: [],
          newTodo: '',
        }
      },
      methods: {

        check: function () {
          console.log(this.todos)
          this.todos.completed = !this.todos.completed
        },
        addTodo: function () {
          if (this.newTodo.length !== 0) {
            this.todos.push({
              id: Date.now(),
              content: this.newTodo,
              completed: false,
              todayDate: Date()
            })
            this.newTodo = ''
          }
        },
        removeTodo: function (todoId) {
          this.todos = this.todos.filter(todo => {
            return todo.id !== todoId
          })
        },
      }
    })
    const app = new Vue({
      el: '#app',

    })
  </script>
</body>

</html>