<div class="card mb-3">
  <div class="card-header">
    <p>작성자 <a class="card-link" href="{% url 'accounts:profile' article.user %}"> {{ article.user }}</a></p>
  </div>
  <div class="card-body">
    <h5 class="card-title"> 글 제목:{{ article.title}}</h5>
    <p class="card-text">글 번호: {{ article.pk }}</p>
    <hr>
    <p class="card-text">
      <a href="{% url 'articles:like' article.pk %}">
        {% if request.user in article.like_users.all %}
        <i class="far fa-thumbs-down"></i>
        {% else %}
        <i class="far fa-thumbs-up"></i>
        {% endif %}
      </a>
    </p>
    <p>{{ article.like_users.all.count }} 명이 좋아합니다.</p>
    <a href="{{ article.get_absolute_url }}" class="btn btn-primary">DETAIL</a>
  </div>
</div>